<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Patient Details</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Lab Number</th>
                    <td>{{ patient.lab_number }}</td>
                </tr>
                <tr>
                    <th>IM Lab Number</th>
                    <td>{{ patient.im_lab_number }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ patient.name }}</td>
                </tr>
                <tr>
                    <th>HKID</th>
                    <td>{{ patient.hkid }}</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{ patient.dob }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ patient.sex }}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{ patient.age }}</td>
                </tr>
                <tr>
                    <th>Ethnicity</th>
                    <td>{{ patient.ethnicity }}</td>
                </tr>
                <tr>
                    <th>Report Date</th>
                    <td>{{ patient.report_date }}</td>
                </tr>
                <tr>
                    <th>Specimen Collected</th>
                    <td>{{ patient.specimen_collected }}</td>
                </tr>
                <tr>
                    <th>Specimen Arrived</th>
                    <td>{{ patient.specimen_arrived }}</td>
                </tr>
                <tr>
                    <th>Clinical History</th>
                    <td>{{ patient.case_history }}</td>
                </tr>
                <tr>
                    <th>Type of Test</th>
                    <td>{{ patient.type_of_test }}</td>
                </tr>
                <tr>
                    <th>Type of Findings</th>
                    <td>{{ patient.type_of_findings }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>